h1 {
	font-size-base: 50px;
	color: white;
	font-family: 'Poiret One', cursive;
	text-align: center;
	border-top: solid #9bA5b5 60px;
	border-bottom: solid #9bA5b5 30px;
}

#message {
	text-align: center;
	color: #a00;
	font-weight: bold;
	border-style: dotted;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#inscription {
	color: white;
}

a {
	color: inherit;
}

#div2 {
	text-align: center;
}

footer {
	position: absolute;
	text-align: center;
	color: white;
}

input::placeholder {
	font-size: 16px;
	font-style: italic;
}

input.form-control {
	outline: 0;
	font-size: 10px;
	width: 100px;
}

input.form-control:valid {
	border: 2px solid #0a0;
}

input.form-control:invalid {
	border: 2px solid #a00;
}

input.form-control:valid {
	content: "\f00c";
	color: #0a0;
	font-size: 1.1em;
}

input.form-control:invalid {
	content: "\f00d";
	color: #a00;
	font-size: 1.1em;
}

.ml12 {
	font-weight: 200;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	color: white;
	border-top: solid #9bA5b5 100px;
	text-align: center;
	font-weight: bold;
}

.ml12 .letter {
	display: inline-block;
	line-height: 1em;
}

.photo-distinction {
	border-radius: 10px;
	border-color: white;
	border-width: 3px;
	border-style: solid;
}

.input-group-text, .btn-outline-default {
	background-color: white;
}