<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bienvenue sur codenames !</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poiret+One"
	rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/crud.css" />

<meta name="description" content="" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />
</head>
<body>
	<nav>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" th:href="@{lister-carte}">Accueil</a></li>
			<li class="nav-item"><a class="nav-link" href="deconnexion">Deconnexion</a>
			</li>
		</ul>
	</nav><body>
	<!-------------------------------------------------- MODIFIER -------------------------------------------------->
	<section id="modifier">
		<header>
			<h1>Modifiez une carte</h1>
		</header>
		<div th:if="${carte != null }">
			<div id="errors" th:errors="${carte.libelle}"></div>
		</div>
		<div id="div3" class="container">
		
			<form method="post">
			
				<div class="form-group">
					<label for="modif_carte2">Nouveau mot :</label> <input type="text" th:value="${carte?.libelle}"
						class="form-control" id="modif_carte2" name="libelle"
						placeholder="Saisissez le nouveau mot"  />
				</div>
				
				<input type="submit" class="btn btn-primary" value="Valider" />

			</form>
		</div>
	</section>


	<footer class="container fixed-bottom">Copyright codenames.fr
		&copy; 2019</footer>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	<script src="js/ajouter-lister.js"></script>
	<script src="js/supprimer.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>