header {
	font-family: 'Poiret One', cursive;
	font-size-base: 50px;
    color: ThreeDDarkShadow;
    font-family: 'Poiret One', cursive;
    text-align:center;
    border-top:solid white 50px;
}
footer {
	position: absolute;
	text-align:center;
}